@{
    ViewBag.Title = "EmployerIndex";
    Layout = "~/Views/Shared/Employer_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body></body>
</html>
<table>

    <tr>
        <td height="40"></td>
    </tr>
    <tr>
        <td>
            <img height="300" width="700" src="~/Images/findemp.jpg">
        </td>
        <td>
            <marquee direction="left" style="color: SteelBlue; font-size: 40px; font-weight: bold; font-family: Forte;">Opportunity is for Everyone</marquee>
        </td>  
    </tr>
</table>