@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}


<table>
    
    <tr>
        <td height="40"></td>
    </tr>
    <tr>
        <td>
            <img height="300" width="700" src="~/Images/job-image.jpg">
        </td>
       
        <td >
            <marquee direction="down" style="color: DodgerBlue; font-size: 40px; font-weight: bold; font-family: Forte;"> If opportunity doesn't knock, build a door....Never miss an Opportunity </marquee>
        </td>    
      
    </tr>   

</table>
